/*** GLOBAL ***/

:root {
  --back-bg-celeste: #e3f6f5; /*Fondos celestes*/
  --back-bg-blanco: #fffffe; /*Fondos blancos*/
  --back-bg-azul: #2d334a; /*Fondos azules*/
  
  --back-boton-azul: #272343; /*Fondos azules botones*/
  --back-boton-amarillo: #ffd803; /*Fondos amarillos, botones*/


  --titulo-principal-azul: #272343; /*Títulos azules*/
  --subtitulo-principal-azul: #2d334a; /*Subtítulos azules*/
  --texto-color-blanco: #fffffe; /*Textos blancos*/
  
} 


/***FOOTER***/
.footer-lca
{
  background-color: var(--back-bg-celeste);
}
.footer-titulo
{
  color: var(--titulo-principal-azul);
}

.footer-subtitulo
{
  color: var(--subtitulo-principal-azul);
}

/*NAVBAR*/
.navbar-dark {
    background-color: #fffffe !important;

    /*Opacity start
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}

.navbar-dark .navbar-brand {
  color: #272343;
}

.navbar-dark .navbar-brand:hover
{
  color:#172c66;
}

.navbar-dark .navbar-nav .nav-link {
  color: #272343;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #172c66;
}

.navbar-dark .navbar-toggler
{
  background: #272343;
}
 .navbar-toggler-icon
 {
   background: #272343;
 }

/*ESTILOS A LAS A DEL MENU, NAVBAR*/
.estilito
{
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: #172c66;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-display: auto;
}

.estilito::after
{
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #172c66;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.estilito:hover{
  color: #172c66;
}

.estilito:hover::after
{
  transform: scaleX(1);
  transform-origin: left;
}

/*ESTILOS A TEXTO*/

/*Títulos principales*/

.texto-justificado
{
  text-align: justify;
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) 
{
  .estilito:hover::after
{
  transform: scaleX(0.3);
  transform-origin: left;
}
}

/*** TERMINA GLOBAL ***/


/***************************** PÁGINA DE HOME ****************************/

/*** HEADER ***/

.header-colorcito-filter::after {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(1px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
}

.header-colorcito-filter {
  position: relative;
}

.header-colorcito {
  background-image: url('../src/headercito1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

/* Use for content that should not be blurred */
.contenido-no-blurred {
  position: relative;
  z-index: 1;
}

.background-inside-headercito
{
  background: #fffffe;
  opacity: 0.8;

  border-radius: 30% 31% 30% 30% / 0% 0% 30% 30% ;
}


.headerhome-titulo-lca
{
    color: var(--titulo-principal-azul);
    font-size:xx-large;
/*    text-shadow: 2px 2px 4px #FDE4E6;*/
}
 
.headerhome-subtitulo-lca
{
  color: var(--subtitulo-principal-azul);
}

.headerhome-boton-lca
{
    color: var(--titulo-principal-azul);
    background-color: var(--back-boton-amarillo);
    border-color: var(--back-boton-amarillo);
    width: 80%;
    border-radius: 3em;
}

.headerhome-boton-lca:hover
{
    color: var(--titulo-principal-azul);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*** SECCIÓN DE MOTIVOS ***/

.motivoshome
{
  background-color: var(--back-bg-celeste);
}

.motivoshome-cards
{
  border-radius: 10px;
  background-color: var(--back-bg-azul);
}

.motivoshome-cards h2{
  color: var(--back-boton-amarillo);
}

.motivoshome-titulo-lca
{
  color: var(--subtitulo-principal-azul);
}


.motivoshome-subtitulo-lca
{
  color: var(--titulo-principal-azul);
}


/*** SECCIÓN DE CARDS IDIOMAS-HOME ***/ 
.cardsidiomashome 
{
    background-color: var(--back-bg-celeste);
}

.cardsidiomashome .card
{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: all 0.5s;
  background-color: var(--back-bg-blanco);
}

.cardsidiomashome .card:hover
{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1.01);
}

.cardsidiomashome .card .bg-image img
{
  border-radius: 10px;
}

.cardsidiomashome-titulo-lca
{
  color: var(--subtitulo-principal-azul);
}

.cardsidiomashome-subtitulo-lca
{
  color: var(--titulo-principal-azul);
}

.cardsidiomashome-titulocard-lca
{
  color: var(--subtitulo-principal-azul);
}

.cardsidiomashome-subtitulocard-lca
{
  color: var(--titulo-principal-azul);
}

.cardsidiomashome-boton-lca
{
  background-color: var(--back-boton-azul);
  color:var(--texto-color-blanco);
  border-radius: 25px;
  border: none;
}

.cardsidiomashome-boton-lca:hover
{
  background-color: var(--back-bg-blanco);
  color: var(--titulo-principal-azul);
  border-radius: 25px;
  border: 1px solid #2d334a;
}


.cardsidiomas-vermas a {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--back-boton-azul);
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  font-family: Montserrat;
  text-transform:none;
  padding: 0.5em 2em;
  border: 2px solid #272343;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
  border-radius: 25px;
}
.cardsidiomas-vermas a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background-color: var(--back-boton-amarillo);
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
  z-index: -1;
  border-radius: 25px;
}
.cardsidiomas-vermas a::after {
  content: "";
  display: inline-block;
  background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  bottom: 0;
  right: 3em;
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
.cardsidiomas-vermas a:hover {
  padding: 0.5em 3.5em 0.5em 0.5em;
}
.cardsidiomas-vermas a:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.cardsidiomas-vermas a:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}


/*** SECCIÓN DE CTA ***/
.ctahome
{
  background: #f3d2c1;  
}

.glasmorph
{
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.ctahome .card
{
  /*
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background: transparent;*/

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #fef6e4;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.ctahome-titulo-lca
{
  color: #001858;
}

.ctahome-subtitulo-lca
{
  color: #172c66;
}

.ctahome-boton-lca
{
  background-color: #001858;
  color: #fef6e4;
  border-radius: 25px;
  border: none;
}

.ctahome-boton-lca:hover
{
  background-color: #001858;
  color: #fef6e4;
  border-radius: 25px;

}

/*** INICIA SECCIÓN DE FACILIDADES ***/
.facilidadeshome
{
  background-color: var(--back-bg-blanco);
}

.facilidadeshome-titulo-lca
{
  color:var(--titulo-principal-azul);
}

.facilidadeshome-subtitulo-lca
{
  color:var(--subtitulo-principal-azul);
}

.facilidadeshome-parrafo-lca
{
  color:var(--subtitulo-principal-azul);
}


/*** INICIA SECCIÓN DE TESTIMONIOS HOME ***/
.testimoniohome
{
 background: var(--back-bg-celeste);
}

.testimoniohome-titulo-lca
{ 
 color: var(--titulo-principal-azul)
}

.testimoniohome-subtitulo-lca
{
 color: var(--subtitulo-principal-azul);
}


/*** INICIA SECCIÓN DE TRABAJA HOME ***/
.trabajohome
{
 background-color: var(--back-bg-blanco);
}

.trabajohome .segundocontainer
{
 background-color: var(--back-bg-celeste);
}

.trabajohome-titulo-lca
{
  color: var(--titulo-principal-azul)
}

.trabajohome-subtitulo-lca
{
  color:var(--subtitulo-principal-azul);
}

.trabajohome-boton
{
  background-color: var(--back-boton-amarillo);
  border: none;
  color: #272343;
  border-radius: 25px;
}

.trabajohome-boton:hover
{
  background-color: transparent;
  color: #272343;
  border-radius: 25px;
  border: 1px solid #2d334a;
}

/*****************************INICIA PÁGINA DE SERVICIOS****************************/

.header-servicios-lca
{
  background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211));
  
}

.header-servicios-lca .card
{
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background: transparent;
}

.header-servicios-lca .card:hover
{
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.header-servicios-lca .card .bg-image img
{
  border-radius: 10px;
}

.cards-servicios-titulo-lca
{
  color: #272343;
}

.cards-servicios-subtitulo-lca
{
  color: #2d334a;
}
.cards-servicios-boton-lca
{
  background-color: #184E77;
  color: white;
  border-radius: 25px;
  border: none;
}

.cards-servicios-boton-lca:hover
{
  background-color: #168AAD;
  color: white;
  border-radius: 25px;

}

/*****************************INICIA PÁGINA DE TALLERES****************************/

.headertalleres
{
 background-color: var(--back-bg-azul);
}

.apartadotalleres-titulo-lca
{
  color: var(--titulo-principal-azul);
}

.apartadotalleres-subtitulo-lca
{
  color: var(--subtitulo-principal-azul);
}

.showcase .showcase-img {
  /*min-height: 30rem;*/
  background-size: cover;
}

.showcase .showcase-text {
  padding: 3rem;
}


.fade-in-image-seccionTestimonio {
  opacity: 50%;
  width: 60%;
}

.fade-in-image-seccionTestimonio:hover {
  opacity:100%;
  transition:opacity 2s
}

/*** ACTIVIDADES CREATIVAS ***/
.contenidOv {
  position: relative;
  width: 90%;
  max-width: 300px;
  margin: auto;
  overflow: hidden
}

.contenidOv .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 28% 72% 61% 39% / 44% 43% 57% 56%;
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s
}

.contenidOv:hover .content-overlay {
  opacity: 1
}

.content-image {
  width: 100%
}

.contenidOvimg {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 28% 72% 61% 39% / 44% 43% 57% 56%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s
}

.contenidOv:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase
}

.content-details p {
  color: #fff;
  font-size: 0.8em
}

.fadeIn-bottom {
  top: 80%
}


/*****************************INICIA PÁGINA DE NOSOTROS****************************/

.apartadonosotros
{
 background-color: var(--back-bg-blanco);
}

.apartadonosotros-titulo-lca
{
  color: var(--titulo-principal-azul)
}

.apartadonosotros-subtitulo-lca
{
 color: var(--subtitulo-principal-azul);
}

.apartadonosotros-boton-lca
{
  background-color: var(--back-boton-amarillo);
  border: none;
  color: var(--titulo-principal-azul);
  border-radius: 25px;
  width: 70%;
}

.apartadonosotros-boton-lca:hover
{
  background-color: var(--back-boton-amarillo);
  color: var(--titulo-principal-azul);
  border-radius: 25px;
}




/*****************************INICIA PÁGINA DE CONTACTO****************************/
.apartadocontacto
{
 background-color: var(--back-bg-blanco);
}

.apartadocontacto .subcontenedor
{
  background-color: var(--back-bg-blanco);
}


.apartadocontacto-titulo-lca
{
  color: var(--titulo-principal-azul);
}

.apartadocontacto-subtitulo-lca
{
 color: var(--subtitulo-principal-azul);
}
/*FORMULARIO, INPUTS*/
.apartadocontacto-form-floating .form-control
{
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.apartadocontacto-form-floating > label
{
    color: var(--titulo-principal-azul);
    opacity: 0.8;
}

/*FORMULARIO, BUTTON*/

.apartadocontacto-boton .btn-primary:disabled, .apartadocontacto-boton .btn-primary.disabled {
  color: #272343;
  background-color: #ffd803;
  border-color: #ffd803;
  border-radius: 3rem;
}

.apartadocontacto-boton .btn-primary {
  color: #272343;
  background-color: #ffd803;
  border-color: #ffd803;
  border-radius: 3rem;
}


/*UTILIDADES*/

/*Sección separadores*/

/*Separador rosadita*/
.triangle {
  position: relative;
  background: #E0444E;
  height: 1vh;
  opacity: 0.5;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 23px 0 23px;
  border-color: #E0444E transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  opacity: 0.8;
}

.custom-shape-divider-top-1626828876 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: #fffffe;
}

.custom-shape-divider-top-1626828876 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 25px;
}

.custom-shape-divider-top-celestito .shape-fill {
  fill: #2d334a;
}

.custom-shape-divider-top-celestito {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: #e3f6f5;
}

.custom-shape-divider-top-celestito svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 25px;
}

.custom-shape-divider-top-celestito .shape-fill {
  fill: #2d334a;
}

/*****************************INICIA PÁGINA DE CURSOSs****************************/
.courses-container {

}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
  font-family: 'Muli', sans-serif;
  font-size: 80%;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
  font-family: 'Muli', sans-serif;
  font-size: 150%;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
  font-family: 'Muli', sans-serif;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.idiomaservicios-btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
  font-family: 'Muli', sans-serif;
}

.idiomaservicios-btn:hover
{
 color: var(--back-boton-amarillo); 
}


/*Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 350px) {
  .course{
    height: 400px;
    margin-right: 4px;
  }

  .course .okwoks
  {
    margin-top: 40px !important;
  }

  .idiomaservicios-btn
  {
    bottom: 1.4em;
    right: 4.4em;
  }

  .progress-container
  {
    top: 60px;
    right: 68px;
  } 
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

  .course{
    height: 300px;
    margin-right: 4px;
  }

  .progress-container
  {
    top: 10px;
  }

  .idiomaservicios-btn
  {
    bottom: 0.7em;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*****************************INICIA PÁGINA DE IDIOMA - INGLÉS****************************/

a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.vertical-tab{
    font-family: 'Montserrat', sans-serif;
    display: table;
}
.vertical-tab .nav-tabs{
    width: 27%;
    min-width: 27%;
    border: none;
    vertical-align: top;
    display: table-cell;
}
.vertical-tab .nav-tabs li{ float: none; }
.vertical-tab .nav-tabs li a{
    color: #ff4300;
    background: transparent;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 0 0 8px;
    border: none;
    border-radius: 30px 0 0 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.vertical-tab .nav-tabs li.active a,
.vertical-tab .nav-tabs li.active a:hover{
    color: #fff;
    background-color: #ff4300;
    border: none;
}
.vertical-tab .nav-tabs li a:before{
    content: '';
    height: 100%;
    width: 70%;
    border: 2px solid #ff4300;
    border-right: none;
    border-radius: 40px 0 0 40px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
}
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li a:hover:before{
    width: 100%;
}
.vertical-tab .tab-content{
    color: #888;
    background: repeating-linear-gradient(45deg, transparent,transparent 10px,rgba(255,67,0,0.03) 10px, rgba(255,67,0,0.03) 20px);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 20px;
    border: 2px solid #ff4300;
    border-radius: 0 30px 30px 0;
    display: table-cell;
}
.vertical-tab .tab-content h3{
    color: #ff4300;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 7px;
}
@media only screen and (max-width: 479px){
    .vertical-tab .nav-tabs{
        width: 100%;
        margin: 0 0 15px;
        display: block;
    }
    .vertical-tab .nav-tabs li a{
        padding: 15px 10px 14px;
        margin-right: 0;
        margin-bottom: 10px;
        border-radius: 30px 30px 0 0;
    }
    .vertical-tab .nav-tabs li a:before{
        width: 100%;
        height: 70%;
        border-radius: 30px 30px 0 0;
        border: 2px solid #ff4300;
        border-bottom: none;
    }
    .vertical-tab .nav-tabs li.active a:before,
    .vertical-tab .nav-tabs li a:hover:before{
        height: 100%;
    }
    .vertical-tab .tab-content{
        font-size: 14px;
        border-radius: 0 0 30px 30px;
        display: block; 
    }
}