/*** GLOBAL ***/
/*FOOTER*/
.footer-lca
{
 background: #e3f6f5;
}
.footer-titulo
{
 color:#272343;
}

.footer-subtitulo
{
  color:#2d334a;
}

/*NAVBAR*/
.navbar-dark {
    background-color: #fffffe !important;

    /*Opacity start
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}

.navbar-dark .navbar-brand {
  color: #272343;
}

.navbar-dark .navbar-brand:hover
{
  color:#172c66;
}

.navbar-dark .navbar-nav .nav-link {
  color: #272343;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #172c66;
}

.navbar-dark .navbar-toggler
{
  background: #272343;
}
 .navbar-toggler-icon
 {
   background: #272343;
 }

/*ESTILOS A LAS A DEL MENU, NAVBAR*/
.estilito
{
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: #172c66;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.estilito::after
{
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #172c66;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.estilito:hover{
  color: #172c66;
}

.estilito:hover::after
{
  transform: scaleX(1);
  transform-origin: left;
}

/*ESTILOS A TEXTO*/

/*Títulos principales*/
.titulo-principal-lca
{
 color: #110042;
}

.subtitulo-lca
{
 color: #001D3D;
}

.down-subtitulo-lca
{
 color: #184E77;
}

.texto-justificado
{
  text-align: justify;
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) 
{
  .estilito:hover::after
{
  transform: scaleX(0.3);
  transform-origin: left;
}
}

/*Separador rosadita*/
.triangle {
  position: relative;
  background: #E0444E;
  height: 1vh;
  opacity: 0.5;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 23px 0 23px;
  border-color: #E0444E transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  opacity: 0.8;
}
/*SHAPE DIVIDER*/
.custom-shape-divider-top-1626828876 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: #fffffe;
}

.custom-shape-divider-top-1626828876 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 25px;
}

.custom-shape-divider-top-celestito .shape-fill {
  fill: #2d334a;
}

.custom-shape-divider-top-celestito {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: #e3f6f5;
}

.custom-shape-divider-top-celestito svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 25px;
}

.custom-shape-divider-top-celestito .shape-fill {
  fill: #2d334a;
}



/*** TERMINA GLOBAL ***/

/*** INICIA HEADER ***/

.header-colorcito-filter::after {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(1px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
}

.header-colorcito-filter {
  position: relative;
}

.header-colorcito {
  background-image: url('../src/headercito1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

/* Use for content that should not be blurred */
.contenido-no-blurred {
  position: relative;
  z-index: 1;
}

.background-inside-headercito
{
  background: #fffffe;
  opacity: 0.8;

  border-radius: 30% 31% 30% 30% / 0% 0% 30% 30% ;
}


.withoutbottom
{
  margin-bottom: 0px !important;
}

.colorcito-texto-header
{
    color: #272343;
/*    text-shadow: 2px 2px 4px #FDE4E6;*/
}
 
.colorcito-subtexto-header
{
  color: #2d334a;
}

.botoncin-header
{
    color: #272343;
    background-color: #ffd803;
    border-color: #ffd803;
    width: 80%;
    border-radius: 3em;
}

.botoncin-header:hover
{
    color: #272343;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.boton-header
{
  background: none;
  border: 3px solid #110042;
  color: #110042;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 250;
}

.boton-header, .boton-header::after
{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.boton-header::before, .boton-header::after
{
  background: #110042;
  content: '';
  position: absolute;
  z-index: -1;
}

.boton-header:hover
{
  color: #110042;
  background-color: #fff;
}


/*** TERMINA HEADER ***/

/**SECCIÓN DE WHAT TO DO**/
.seccion-quehacer
{
  background: #f3d2c1;  
}

.glasmorph
{
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.seccion-quehacer .card
{
  /*
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background: transparent;*/

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #fef6e4;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.seccion-quehacer-titulo-lca
{
  color: #001858;
}

.seccion-quehacer-subtitulo-lca
{
  color: #172c66;
}

.seccion-quehacer-boton-lca
{
  background-color: #001858;
  color: #fef6e4;
  border-radius: 25px;
  border: none;
}

.seccion-quehacer-boton-lca:hover
{
  background-color: #001858;
  color: #fef6e4;
  border-radius: 25px;

}

/*** INICIA SECCIÓN DE CARDS ***/
  .cardcito2
  {
   background: #e3f6f5;  
  }


.cardcito2 .card
{
  
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: all 0.5s;
  background: #fffffe;
}

.cardcito2 .card:hover
{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1.01);
}

.cardcito2 .card .bg-image img
{
  border-radius: 10px;
}

.cardcito2-titulo-lca
{
  color: #272343;
}

.cardcito2-subtitulo-lca
{
  color: #2d334a;
}

.cardcito2-titulocard-lca
{
 color: #272343;
}

.cardcito2-subtitulocard-lca
{
color: #2d334a;
}

.cardcito2-boton-lca
{
  background-color:#272343;
  color:#fffffe;
  border-radius: 25px;
  border: none;
}

.cardcito2-boton-lca:hover
{
  background-color:#fffffe;
  color: #272343;
  border-radius: 25px;
  border: 1px solid #2d334a;
}


/*** TERMINA SECCIÓN CARDS.***/

/*** INICIA SECCIÓN DE FACILIDADES. ***/
.seccion-facilidades
{
  background: #fffffe;
}

.seccion-facilidades-titulo
{
 color: #272343;
}

.seccion-facilidades-subtitulo
{
  color: #2d334a;
}

.seccion-facilidades-parrafo
{
  color: #2d334a;
}

/*** TERMINA SECCIÓN DE FACILIDADES. ***/

/*** INICIA SECCIÓN DE TESTIMONIOS. ***/
.seccion-testimonio
{
 background:#e3f6f5; 
}

.seccion-testimonio-titulo
{ 
 color: #272343;
}

.seccion-testimonio-subtitulo
{
 color: #2d334a;
}
/*** TERMINA SECCIÓN DE TESTIMONIOS. ***/

/*** INICIA SECCIÓN DE TRABAJA. ***/
.seccion-trabajo
{
 background: #fffffe;
}

.seccion-trabajo .segundocontainer
{
 background: #e3f6f5; 
}

.seccion-trabajo-titulo
{
  color: #2d334a;
}

.seccion-trabajo-subtitulo
{
  color:#2d334a;
}

.boton-seccion-trabajo
{
  background-color: #ffd803;
  border: none;
  color: #272343;
  border-radius: 25px;
}

.boton-seccion-trabajo:hover
{
  background-color: transparent;
  color: #272343;
  border-radius: 25px;
  border: 1px solid #2d334a;
}


/*** TERMINA SECCIÓN DE TRABAJA ***/


/*****************************INICIA PÁGINA DE SERVICIOS****************************/

.header-servicios-lca
{
  background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211));
  
}

.header-servicios-lca .card
{
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background: transparent;
}

.header-servicios-lca .card:hover
{
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.header-servicios-lca .card .bg-image img
{
  border-radius: 10px;
}

.cards-servicios-titulo-lca
{
  color: #272343;
}

.cards-servicios-subtitulo-lca
{
  color: #2d334a;
}
.cards-servicios-boton-lca
{
  background-color: #184E77;
  color: white;
  border-radius: 25px;
  border: none;
}

.cards-servicios-boton-lca:hover
{
  background-color: #168AAD;
  color: white;
  border-radius: 25px;

}

/*****************************INICIA PÁGINA DE TALLERES****************************/

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.showcase .showcase-text {
  padding: 3rem;
}

/*****************************INICIA PÁGINA DE NOSOTROS****************************/
.background-nosotros-lca
{
 background: #fffffe;
}


.conocenos-boton-nosotros-lca
{
  background-color: #ffd803;
  border: none;
  color:#272343;
  border-radius: 25px;
  width: 70%;
}

.conocenos-boton-nosotros-lca:hover
{
  background-color: #ffd803;
  color: #272343;
  border-radius: 25px;
}

/*****************************INICIA PÁGINA DE CONTACTO****************************/
.background-contacto-lca
{
 background: #fffffe;
}

.background-contacto-lca .subcontenedor
{
 background: #fffffe;
}


.background-contacto-lca-titulo
{
  color: #272343;
}

.background-contacto-lca-subtitulo
{
 color: #2d334a;
}
/*FORMULARIO, INPUTS*/
.form-floating .form-control
{
    border-radius: 25px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.form-floating > label
{
    color: #110042;
    opacity: 0.8;
}

/*FORMULARIO, BUTTON*/

.btn-contactus .btn-primary:disabled, .btn-contactus .btn-primary.disabled {
  color: #272343;
  background-color: #ffd803;
  border-color: #ffd803;
  border-radius: 3rem;
}

.btn-contactus .btn-primary {
  color: #272343;
  background-color: #ffd803;
  border-color: #ffd803;
  border-radius: 3rem;
}


