/*** GLOBAL ***/
/*FOOTER*/
.footer-lca
{
  background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211));
}

/*NAVBAR*/
.navbar-dark {
    background-color: #1D183E !important;
    color: #FFF4DE;

    /*Opacity start
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
}

.navbar-dark .navbar-brand {
    color: #d9ed92;
}

.navbar-dark .navbar-brand:hover
{
    color:#b5e48c;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d9ed92;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #b5e48c;
}

/*ESTILOS A LAS A DEL MENU, NAVBAR*/
.estilito
{
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;
  color: #b5e48c;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.estilito::after
{
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #b5e48c;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.estilito:hover{
  color: #b5e48c;
}

.estilito:hover::after
{
  transform: scaleX(1);
  transform-origin: left;
}

/*ESTILOS A TEXTO*/

/*Títulos principales*/
.titulo-principal-lca
{
 color: #110042;
}

.subtitulo-lca
{
 color: #001D3D;
}

.down-subtitulo-lca
{

}

.texto-justificado
{
  text-align: justify;
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) 
{
  .estilito:hover::after
{
  transform: scaleX(0.3);
  transform-origin: left;
}
}

/*Separador rosadita*/
.triangle {
  position: relative;
  background: #E0444E;
  height: 1vh;
  opacity: 0.5;
}

.triangle::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 23px 23px 0 23px;
  border-color: #E0444E transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  opacity: 0.8;
}

.custom-shape-divider-top-1626536378 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1626536378 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 28px;
}

.custom-shape-divider-top-1626536378 .shape-fill {
  fill: #FAAF3F;
}

.custom-shape-divider-top-1626536760 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1626536760 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 28px;
}

.custom-shape-divider-top-1626536760 .shape-fill {
  fill: #FAAF3F;
}

/*** TERMINA GLOBAL ***/

/*** INICIA HEADER ***/
.colorcito-header {

  background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211));
  padding-bottom: 0px !important;
 
}

.withoutbottom
{
  margin-bottom: 0px !important;
}


.colorcito-texto-header
{
    color: #110042;
/*    text-shadow: 2px 2px 4px #FDE4E6;*/
}

.botoncin-header
{
    color: #fff;
    background-color: #FF695F;
    border-color: #FF695F;
    width: 80%;
}

.botoncin-header:hover
{
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.boton-header
{
  background: none;
  border: 3px solid #110042;
  color: #110042;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 250;
}

.boton-header, .boton-header::after
{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.boton-header::before, .boton-header::after
{
  background: #110042;
  content: '';
  position: absolute;
  z-index: -1;
}

.boton-header:hover
{
  color: #110042;
  background-color: #fff;
}


/*** TERMINA HEADER ***/

/**SECCIÓN DE WHAT TO DO**/
.seccion-quehacer
{
  background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211));
}

.seccion-quehacer .card
{
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background: transparent;
}

.seccion-quehacer-titulo-lca
{
  color: #1D183E;
}

.seccion-quehacer-subtitulo-lca
{
  color: #184E77;
}

.seccion-quehacer-boton-lca
{
  background-color: #FF695F;
  color: white;
  border-radius: 25px;
  border: none;
}

.seccion-quehacer-boton-lca:hover
{
  background-color: #FAAF3F;
  color: white;
  border-radius: 25px;

}

/*** INICIA SECCIÓN DE CARDS ***/
  .cardcito2
  {
    background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211));
  }

.cardcito2 .card
{
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background: transparent;
}

.cardcito2 .card:hover
{
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.cardcito2 .card .bg-image img
{
  border-radius: 10px;
}

.cardcito2-titulo-lca
{
  color: #1D183E;
}

.cardcito2-subtitulo-lca
{
  color: #184E77;
}

.cardcito2-boton-lca
{
  background-color: #FF695F;
  color: white;
  border-radius: 25px;
  border: none;
}

.cardcito2-boton-lca:hover
{
  background-color: #03A4ED;
  color: white;
  border-radius: 25px;

}


/*** TERMINA SECCIÓN CARDS.***/

/*** INICIA SECCIÓN DE FACILIDADES. ***/
.seccion-facilidades
{
  background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211));
}

/*Colores a Iconos*/

.seccion-facilidades .icon-1
{

}
.seccion-facilidades .icon-2
{
  color: #59BB93;
}
.seccion-facilidades .icon-3
{
 color: #FFD96A;
}
.seccion-facilidades .icon-4
{
 color: #27B7EB;
}

/*** TERMINA SECCIÓN DE FACILIDADES. ***/

/*** INICIA SECCIÓN DE TESTIMONIOS. ***/
.seccion-testimonio
{
  background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211));
}

/*** TERMINA SECCIÓN DE TESTIMONIOS. ***/






/*****************************INICIA PÁGINA DE SERVICIOS****************************/

.header-servicios-lca
{
  background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211));
  
}

.header-servicios-lca .card
{
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background: transparent;
}

.header-servicios-lca .card:hover
{
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.header-servicios-lca .card .bg-image img
{
  border-radius: 10px;
}

.cards-servicios-titulo-lca
{
  color: #1D183E;
}

.cards-servicios-subtitulo-lca
{
  color: #184E77;
}

.cards-servicios-boton-lca
{
  background-color: #184E77;
  color: white;
  border-radius: 25px;
  border: none;
}

.cards-servicios-boton-lca:hover
{
  background-color: #168AAD;
  color: white;
  border-radius: 25px;

}




/*****************************INICIA PÁGINA DE TALLERES****************************/



/*****************************INICIA PÁGINA DE NOSOTROS****************************/
.background-nosotros-lca
{
  background-image: repeating-linear-gradient(250deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(172deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(161deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),repeating-linear-gradient(299deg, rgb(255,255,255) 0px, rgb(255,255,255) 31px,transparent 31px, transparent 35px),linear-gradient(90deg, rgb(126, 102, 150),rgb(38, 230, 211)); 
}


.conocenos-boton-nosotros-lca
{
  background-color: #FF695F;
  color: white;
  border-radius: 25px;
  border: none;
}

.conocenos-boton-nosotros-lca:hover
{
  background-color: #03A4ED;
  color: white;
  border-radius: 25px;

}




/*****************************INICIA PÁGINA DE CONTACTO****************************/